@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e6e6e6;
  --foreground: #000000;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #cdcdc3;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}


::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #a1a1a1;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
