@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d4dcdc;
  --foreground: #26676e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #d4dcdc;
    --foreground: #26676e;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
